.other{
    text-decoration: none;
}

.mail {
    text-decoration: none;
	color:#a2a8ad;
	font-weight: bold;
	font-family: trebuchet ms;
	font-size:13
}

.td-top{
background-image:url("http://www.easypcfix.org/themes/templates/top_bg.jpg");
background-repeat: no-repeat;
background-size:544px 80px; 
width:544px; 
height:80px;
}
.td-footer{
background-image:url("http://www.easypcfix.org/themes/templates/bottom_bg.jpg");
background-repeat: no-repeat;
background-size:544px 24px; 
width:544px; 
height:24px;
}
.sitename{
font-family: trebuchet ms; 
font-size:25;
text-shadow: 0 0 1px rgba(0,0,0,0.7);
}
.username{
color:#3cbff3;
font-weight: bold;
font-family: trebuchet ms;
}
.date{
color:#a2a8ad;
text-shadow: 0px 0px 1px #a2a8ad;
font-family: trebuchet ms;
}
.main{
font-family:  "Gill Sans", "Gill Sans MT", sans-serif; 
font-size:16;
text-shadow: 0 0 1px rgba(0,0,0,0.7);
}